* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Noto Serif", serif !important;
}

.carousel-item img {
  height: 85vh;
  width: 100%;
}


.btn-screen {
  background-color: #f9fafb !important;
}

.btn-screen:hover {
  background-color: #0dcaf0 !important;
  color: #fff !important;
}


header nav .collapse .navbar-nav .nav-item :hover {
  color: #0dcaf0;
}


.card-body img{
  min-width: 50%;
  max-height: 200px;
}

